In [ ]:
# Basics

print("Hello, World!")
a = 5
b = 3
sum = a + b
print("Sum of a and b is :", sum)
product = a * b
print("Product of a and b is :", product)

Hello, World!
Sum of a and b is : 8
Product of a and b is : 15

In [ ]:
# Input Function

print("Hello, World!")
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
sum = a + b
print("Sum of a and b is :", sum)
product = a * b
print("Product of a and b is :", product)

Hello, World!
Enter first number: 3
Enter second number: 5
Sum of a and b is : 8
Product of a and b is : 15

In [ ]:
# Data Type (Primitive) - Integers, Strings, Float, Boolean

a = 45
print(type(a))
b = "xyz"
print(type(b))
c = 5.4
print(type(c))
d = True
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# Data Type (Non-Primitive Built-In) - List, Tuple, Set, Dictionary

a = [1, 2, 3]
print(type(a))
print(a[2])

b = (4, 5, 6)
print(type(b))
print(b[0])

c = {7, 8, 9}
print(type(c))
print(c)

d = {"Name": "Prachi", "Age": 17}
print(type(d))
print(d["Name"])

<class 'list'>
3
<class 'tuple'>
4
<class 'set'>
{8, 9, 7}
<class 'dict'>
Prachi

In [ ]:
# Loops

# While Loop
x = 1
while x <= 6:
  x == "Prachi"
  print("Prachi")
  x = x + 1

Prachi
Prachi
Prachi
Prachi
Prachi
Prachi

In [ ]:
# For Loop
for a in range(1, 14,2):
    print(a)

1
3
5
7
9
11
13

In [ ]:
# Nested For Loop
for i in range(1, 7, 2):
    for j in range(3, 9, 2):
        print(i, j)

1 3
1 5
1 7
3 3
3 5
3 7
5 3
5 5
5 7

In [ ]:
# If Else Condition
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

In [ ]:
# Nested If Else Condition
x = 2
if x > 0:
    if x > 5:
        print("x is greater than 5")
    else:
        print("x is between 1 and 5")
else:
    print("x is zero or negative")

x is between 1 and 5